%bi-icon{
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%anim-transform{
    -webkit-transform-origin: center;
    transform-origin: center;
    will-change: transform;
    transition: all 1s linear;
}